@font-face {
    font-family: 'UthmaniHafs';
    src: url('../fonts/uthmanichafs1_ver13-webfont.eot');
    src: url('../fonts/uthmanichafs1_ver13-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/uthmanichafs1_ver13-webfont.woff2') format('woff2'),
        url('../fonts/uthmanichafs1_ver13-webfont.woff') format('woff'),
        url('../fonts/uthmanichafs1_ver13-webfont.ttf') format('truetype'),
        url('../fonts/uthmanichafs1_ver13-webfont.svg#kfgqpc_hafs_uthmanic_scriptRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

header {
    background-color: aliceblue;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

footer {
    background-color: aliceblue;
    border-top: 1px solid #ddd;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;

}

#quranCanvas {
    margin: 1.8rem;
    padding: 1.6rem;
    font-size: 3rem;
    font-family: 'UthmaniHafs';
    text-align: justify;
    line-height: 2;
    outline: 0;
    display: block;
    overflow: visible;
    resize: none;
    border: 0;
    box-sizing: initial;
    margin: 0;
    max-width: initial;


}

#speed {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 243, 205, 0.7);
}

#txtInput {
    position: absolute;
    left: -2000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (max-width: 767px) {
    #quranCanvas {
        font-size: 2rem;
    }
}

.alert {
    display: block;
    margin: 1rem;
}